[submodule "external/Simple-Web-Server"]
	path = external/Simple-Web-Server
	url = https://gitlab.com/eidheim/Simple-Web-Server.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "external/mINI"]
	path = external/mINI
	url = https://github.com/pulzed/mINI.git
[submodule "external/aasdk"]
	path = external/aasdk
	url = https://github.com/silverchris/aasdk.git
[submodule "external/openauto-mazda-build"]
	path = external/openauto-mazda-build
	url = https://github.com/silverchris/openauto-mazda-build.git
